.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.logo {
    height: 100px;
    width: 100px;
    align-self: center;
}
/* form {
    display: flex;
    flex-direction: column;
}
form input {
    margin: 5px;
    height: 30px;
    border-color: #082F48;
    border-radius: 5px;
    border-style: groove;
    background-color: white;

}
    
form input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    color: #8396A380;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

}
form button {
    margin: 5px;
    border-radius: 5px;
    border-style: groove;
    background-color: #082F48;
} */
.client {
    background-color: #DFE4E7;
}
.link {
    align-self: flex-end;
    padding-right: 10px;
    color: #082F48;
    
}
.link:hover {
    color: #DFE4E7 ;
    cursor: pointer;
}