.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.logo {
  height: 100px;
  width: 100px;
  align-self: center;
}

form input {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}

.link {
  align-self: flex-end;
  padding-right: 10px;
  color: #082f48;
}
.link:hover {
  color: #dfe4e7;
  cursor: pointer;
}
