.head {
  background-color: #f7f7fa;
  grid-area: head;
  justify-content: space-between;
  align-content: baseline;
}
.logo {
  display: flex;
  width: 100px;
  height: 100%;
  padding: 0 20px;
}

.title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 4.5vw;
}
.configButtons {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 20px; /* Ajusta el espacio entre los elementos */
  padding: 5px;
  margin: 20px;
}

.configButtons i {
  font-size: 30px; /* Ajusta el tamaño de los íconos */
}
.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Ajusta el tamaño del botón para ser consistente con los íconos */
  height: 50px; /* Ajusta la altura del botón */
  background-color: transparent;
  color: #000;
  cursor: pointer;
  padding: 0;
}

.logout-button img,
.logout-button svg, /* Asegura que los iconos también se ajusten */
.logout-button i {
  width: 30px; /* Ajusta el tamaño del icono dentro del botón */
  height: 30px;
}

.logout-button:hover {
  color: red;
  border-color: transparent;
}
